/* Initialization */
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
	font-family: "NEXON Lv1 Gothic OTF";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NEXON Lv1 Gothic OTF Light";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{overflow: hidden;}

body {margin:0;padding:0; font-family: Inter, "NEXON Lv1 Gothic OTF" !important; background:#fff;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-family: Inter, "NEXON Lv1 Gothic OTF" !important;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0; font-family: Inter, "NEXON Lv1 Gothic OTF" !important; font-size:1em}
input[type="submit"]{cursor:pointer}
input[type="checkbox"]{cursor:pointer}
button {cursor:pointer}

textarea, select {font-family: Inter, "NEXON Lv1 Gothic OTF" !important; font-size:1em}
select {margin:0; padding: 3px 5px}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1em}
a {color:#000;text-decoration:none; cursor: pointer;}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* cursor */
.cursor {
	width: 0.8rem;
	height: 0.8rem;
	border: 2px solid var(--color-texta);
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
	backdrop-filter: invert(1);
	background-size: cover;
}

.cursor-grow {
	transform: scale(3);
}

/* header */
.header{position:absolute; z-index:999; left:0; top:0; width:100%;}
.header .header-box{overflow: hidden; padding: 0px 10px;}
.header h1{float: left;}
.header h1 a{display: block; padding: 20px; color: #111; height: 40px; font-size: 2rem; font-weight: 700; line-height: 40px;}
.header h1 a span {color: #969ce3;}

.header h1 a img{max-width: 120px; max-height: 40px;}
.header .gnb{width:700px; margin: 0 auto; margin-top: 12px;}
.header .gnb > ul{overflow: hidden;}
.header .gnb > ul > li{float:left; padding: 15px 20px;}
.header .gnb > ul > li:last-child{border: 0;}
.header .gnb > ul > li > a{display: block; padding: 5px 20px 5px 20px; font-size: 1.2rem; font-weight: 700; color: #111;}

.sub-gnb{
	display: none;
	position: absolute;
	margin-left: 10px;
	margin-top: 15px;
	padding: 5px 10px;
	background: #fff;
	border-radius: 4px; 
	border-left: 5px solid #1d3a6d;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.sub-gnb > li{padding: 13px; border-bottom: 1px solid #eee;}
.sub-gnb > li:first-child{border: 0;}
.sub-gnb > li a {font-size: 1rem;}

.notice-sub {margin-top: 10px; margin-left: -100px; width: 400px; max-height: 1100px; overflow-y: scroll;}
.notice-sub > li a {line-height: 1.5;}
.date-span {margin-left: 7px; color: #ccc; font-size: 0.8rem;}
.notice-info {display: inline-block; width: 308px;}

.delete-btn {
  margin-top: 3px;
  margin-left: 7px;
  float: right;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ff3d46' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'%3E%3Cpolyline points='3 6 5 6 21 6'/%3E%3Cpath d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'/%3E%3Cline x1='10' y1='11' x2='10' y2='17'/%3E%3Cline x1='14' y1='11' x2='14' y2='17'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: center;
  cursor: pointer;
}

.notice-sub > li:first-child{padding: 0; border: 0;}
.notice-sub > li:last-child{border: 0;}
.delete-all {color: #111; float: right; margin: 10px; font-size: 0.8rem; margin-bottom: 15px; cursor: pointer;}
.notice-zero {color: #1d3a6d; font-size: 1rem;}

.header .tnb{float: right; margin-top: 20px; margin-right: 20px;}
.header .tnb > ul > li{float: left;}
.header .tnb > ul > li:first-child > a{color: #1d3a6d;}
.header .tnb > ul > li > a{display: block; padding: 10px 15px 10px 15px; font-size: 1.1rem; font-weight: 700;}

.notice {margin-right: 40px;}
.notice > a {color: #1d3a6d;}

.notification {
	top: -2.9em;
	right: 14em;
	width: 5.5em;
	height: 5.5em;
	text-align: center;
	padding-top: 22px;
	display: inline-block;
	position: absolute;
	background-color: #1d3a6d;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-moz-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-ms-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-o-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-moz-transform: rotateZ(0deg) translateY(0) scale(0.5);
	-ms-transform: rotateZ(0deg) translateY(0) scale(0.5);
	-webkit-transform: rotateZ(0deg) translateY(0) scale(0.5);
	transform: rotateZ(0deg) translateY(0) scale(0.5);
	-webkit-animation: waiting 1.2s cubic-bezier(0.25, 0.1, 0.51, 1.3) infinite;
	-moz-animation: waiting 1.2s cubic-bezier(0.25, 0.1, 0.51, 1.3) infinite;
	-ms-animation: waiting 1.2s cubic-bezier(0.25, 0.1, 0.51, 1.3) infinite;
	-o-animation: waiting 1.2s cubic-bezier(0.25, 0.1, 0.51, 1.3) infinite;
	animation: waiting 1.2s cubic-bezier(0.25, 0.1, 0.51, 1.3) infinite;
	z-index: 3;
}
.notification .number {
	font-family: Inter, "NEXON Lv1 Gothic OTF Bold" !important;
	color: white;
	font-size: 2.5em;
	display: inline-block;
	-webkit-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-moz-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-ms-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	-o-transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
	transition: all 0.6s cubic-bezier(0.25, 0.1, 0.49, 1.14);
}

@-webkit-keyframes waiting {
  0% {
    margin-top: 0;
    -moz-animation-timing-function: cubic-bezier(0, 0, 0.37, 1.01);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.37, 1.01);
    animation-timing-function: cubic-bezier(0, 0, 0.37, 1.01);
  }
  25% {
    margin-top: -1.85em;
  }
  30% {
    margin-top: -2em;
    -moz-animation-timing-function: cubic-bezier(0.91, 0.01, 1, 1);
    -webkit-animation-timing-function: cubic-bezier(0.91, 0.01, 1, 1);
    animation-timing-function: cubic-bezier(0.91, 0.01, 1, 1);
  }
  35% {
    margin-top: -1.85em;
  }
  55% {
    margin-top: 0;
    -moz-animation-timing-function: cubic-bezier(0, 0, 0.37, 1.01);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.37, 1.01);
    animation-timing-function: cubic-bezier(0, 0, 0.37, 1.01);
  }
  59% {
    margin-top: -0.3em;
    -moz-animation-timing-function: cubic-bezier(0.91, 0.01, 1, 1);
    -webkit-animation-timing-function: cubic-bezier(0.91, 0.01, 1, 1);
    animation-timing-function: cubic-bezier(0.91, 0.01, 1, 1);
  }
  63% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* main-visual */
.circle-small {
    position: fixed;
    background-repeat: no-repeat;
    z-index: -999;
	bottom: -200px;
	left: -100px;

	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: #1d3a6d;
    -webkit-transition: all 0.7s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: all 0.7s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.circle-big {
    position: fixed;
    background-repeat: no-repeat;
    z-index: -999;
	top: -200px;
	right: -100px;
	width: 37vw;
	height: 37vw;
	border-radius: 50%;
	background: #c0c4d7;
    -webkit-transition: all 0.7s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition: all 0.7s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}

.go {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.main-visual {
	padding: 160px 0px 0px 0px;
	max-width: 70%;
	margin: 0 auto;
	margin-top: 6%;
	overflow: hidden;
}

.info-box {float: left; display: inline-block; width: 100%;}
.info-box h3 {
	font-family: Inter, "NEXON Lv1 Gothic OTF Bold" !important;
    font-size: 2.8rem !important;
    line-height: 1.5;
    margin-bottom: 50px;
}
.info-box p {
    font-size: 1.2rem !important;
    line-height: 1.8;
	letter-spacing: 0.02em;
    margin-bottom: 65px;
}

/* flip*/
#flip {
    font-size: 3.6rem !important;
	font-weight: 700;
    line-height: 1.4;
	letter-spacing: -0.02em;

	width: 120px;
	height:64px;
	overflow:hidden;
	padding-left: 10px;
	margin-bottom: -15px;
    display: inline-block;
}

#flip > div > div {
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div:first-child div {
  color:#174997;
}
#flip div:last-child div {
  color:#747ea7;
}

@keyframes show {
  0% {margin-top:-180px;}
  5% {margin-top:-90px;}
  50% {margin-top:-90px;}
  55% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-180px;}
}

/* button */
.info-box a {
    font-size: 1.1rem !important;
	font-weight: 700;
    line-height: 1.4;
	letter-spacing: 0.02em;

    position: relative;
	width: 310px;
    display: block;
	padding: 1.5rem 2.4rem;
	border-radius: 40px;
	overflow: hidden;
}

.info-box a:hover .wave {
  top: -120px;
}

.info-box a span {
  position: relative;
  z-index: 1;
  color: white;
}

.info-box a .wave {
  width: 310px;
  height: 220px;
  background-color: #263f73;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}
.info-box a .wave::before, a .wave::after {
  width: 150%;
  height: 150%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.info-box a .wave::before {
  border-radius: 45%;
  background-color: #7682a6;
  animation: wave 5s linear infinite;
}
.info-box a .wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.info-box img {
    max-width: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.visual-box {position: fixed; top: 20%; right: 12%;}


/* footer */
.footer{position:fixed; left: 0px;  z-index:999; width:100%; background-color: rgba(255, 255, 255, 0.1);}
.footer > div{margin: 0 auto; overflow: hidden;}
.footer > div > div{float:left;}
.footer > div > div.f-copy{margin: 20px; color: #eee;}


/*login.html*/
.login-box{margin: 300px auto; text-align: center;}
.login-box h1{text-align: center; margin-bottom: 40px;}
.login-box .login{max-width: 500px; margin: 20px auto; border-left: 5px solid #1d3a6d; padding: 70px 60px; background: #fff; display: grid; box-shadow: 0 4px 12px rgb(0 0 0 / 10%); }
.login-box .login input{
	margin: 10px 0px;
    height: 40px;
    padding: 6px 12px;
	width: 100%; 
	font-size: 14px;
	border: 1px solid #c0c4d7;
	border-radius: 4px;
}

.login-box label {font-size: 14px; text-align: right; padding-right: 3px;}

.login input[type="checkbox"]{ width: 20px;}

#chk-notice{width:20px; margin-right: 5px;}

.login button{width: 100%; height: 45px; background: #1d3a6d; border: 1px solid #1d3a6d; color: #fff; border-radius: 4px; margin-top: 10px; font-weight: 700;}

.findIdPw {margin: 20px; font-size: 14px;}


/*---------SNS Login API-----------------------------------------------------------*/
.login-box img{
width: 270px;
height: auto;
margin-top: 15px;
}
.login-box .findIdPw a{
padding: 5px 10px 5px 10px;
border-right: 1px solid #ccc;
}
.login-box .findIdPw a:last-child{border: 0;}


.kakao-login ul li{
	display: inline-block;
}

.g-signin2{
	margin-top: 15px;
}

.g-signin2 > div {
    display: inline-block;
    width: 270px !important;
    height: 42px !important;
}

.abcRioButtonLightBlue {
    background-color: #fff;
    color: #757575;
}

.abcRioButton {
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.abcRioButtonIcon {
    float: left;
    margin-left: 4px;
}
.abcRioButtonSvg {
    display: block;
}
svg:not(:root) {
    overflow: hidden;
}

.abcRioButtonContentWrapper{
    padding-top: 5px;
}
.abcRioButtonContents {
    font-family: Inter, "NEXON Lv1 Gothic OTF" !important;
    font-size: 1rem !important;
    color: #111;
    font-weight: 700 !important;
}

/*join 회원가입*/
.join-box{width: 480px; margin: 230px auto; }
.join-box h1{text-align: center; margin-bottom: 40px;}
.join-box .join{ max-width: 500px; margin: 0px auto; border-left: 5px solid #1d3a6d; padding: 70px 60px 60px 60px; background: #fff; display: grid; box-shadow: 0 4px 12px rgb(0 0 0 / 10%);}
.join-box .join span{margin-top: 10px;}
.join-box .join input{margin: 10px 0px; height: 40px; }

.join-box .join .checkDevLangDiv{margin: 10px 0; border: 1px solid #c0c4d7; overflow:hidden;}
.join-box .join input[type="checkbox"]{margin: 10px 5px; height: 20px; }
.join-box ul {padding: 7px;} /*3개 한 줄 차지*/
.join-box ul li{float: left; width: 33.33%; } /*3개 한 줄 차지*/
.join-box ul li:nth-child(3n+1) { clear: both; } /*4번째부터 스타일 초기화해서 다음 줄에 배치 */

.join button{width: 100%; height: 45px; background: #1d3a6d; border: 1px solid #c0c4d7; color: #fff; font-weight: 700;}

.language-box {
	margin-top: 40px;
}

.join-box body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.join-box label {
    display: inline-block;
    max-width: 100%;
    margin-left: 3px;
    margin-bottom: 5px;
    font-weight: 700;
}
.join-box .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #c0c4d7;
    border-radius: 4px;
    }
.join-box .form-group {
    margin-bottom: 20px;
}

.join-box .form-group a {
    color: #1d3a6d;
	font-weight: 700;
}
.id_check {
	font-size: 0.8em;
    text-align: right;
}
.join-box .btn-success {
    color: #fff;
    background-color: #1d3a6d;
    border-color: #1d3a6d;
}
.join-box .btn {
    border-radius: 4px;
    margin-top: 10px;
}


/*mypage.jsp*/
.mypage{
    width: 100vw; 
    height: 100vh; 
    text-align: center; 
    margin: 280px auto;
    overflow: hidden;
    flex-direction: column;
}

.mypage > h1 {margin-bottom:20px;}
.mypage-form {display: flex; justify-content: center; align-items: flex-start; }

/* 마이페이지 메뉴 */
.mypage .mypage-form .mypage-tap {width: 200px;}
.mypage .mypage-form .mypage-tap > hr {width:90%;height:1px;border:none;background-color:#d5d8e6;}
.mypage .mypage-form .mypage-tap li {margin: 10px; padding: 10px;  text-align: left; background-color: #ffffff; border-radius: 4px; }
.mypage .mypage-form .mypage-tap li:hover {background-color: #c0c4d7; border-radius: 4px; font-weight: bold; flex: 1; color: #1d3a6d;}
.mypage .mypage-form .mypage-tap li.on {background-color: #c0c4d7; border-radius: 4px; font-weight: bold; flex: 1; color: #1d3a6d;}

.mypage .mypage-form .mypage-tapmenu > a {font-size: 1.1rem; font-weight: 700;}

/* 마이페이지 게시글 */
.mypage .mypage-form .mypage-con-column {  
    background: #fff;
    border-radius: 4px; 
    border-left: 5px solid #1d3a6d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 70px 60px 60px 60px;
    width: 700px;
    height: 800px;
    overflow: hidden;
}

.mypage-mod {
    display: grid;    
    width: 100%;
}

.mypage-con-column > h1 {margin-bottom: 30px;}

/* 마이페이지 board */
.myquestion {display:flex; text-align:left;}
.mypage-boardbox {text-align:end; height: 520px;}
.mypage-boardbox > a {color : gray; font-size: 0.8rem; margin-right: 20px;}
.mypage-boardbox > ul > li {border-bottom:1px solid #ddd;}

.myquestion > ul {padding: 15px; }
.myquestion > ul > li {padding: 5px 0;}
.myquestion > ul > li:nth-child(1){color:gray; font-size: 0.8rem; margin-bottom: 10px;}
.myquestion > ul > li:nth-child(2) > h2 {font-size:17px;}
.myquestion > ul > li:nth-child(3) {overflow-y: scroll; max-height: 50px;}
.mypage-board {width:83%;}
.mypage-manage {width: 15%;}

.mypage-boardinfo{align-self: center; padding:8px; padding-top: 38px;}
.myquestion-remove {margin-left: 10px;}
.myboard-cnt {text-align:center; padding: 5px; font-weight:bold;}
.myboard-cnt > span {font-size:20px;}
.myquestion-manage {display:flex; font-size: 0.8rem; padding: 8px;}
	
/* 마이페이지 수정 */
.mypage-form .mypage-con-column span{text-align: left; font-weight: 700; margin-left: 10px; padding: 13px; margin-top: 10px;}
.mypage-form .mypage-con-column input{margin: 0 20px; height: 40px; border-radius: 4px; border: 1px solid #c0c4d7; padding: 6px 12px; font-size: 14px;}
.mypage-form .mypage-con-column input[type="checkbox"]{height: 20px; }

.mypage-form .mypage-con-column #mypage_Email{background:#d3d3d3; border:0px;}

.mypage-form .mypage-con-column .checkDevLangDiv{margin: 0 20px 30px 20px; border: 1px solid #c0c4d7; padding: 7px;}
.mypage-form .mypage-con-column .checkDevLangDiv ul li{float: left; width: 33.33%; text-align: left;} /*3개 한 줄 차지*/
.mypage-form .mypage-con-column .checkDevLangDiv ul li:nth-child(3n+1) { clear: both; } /*4번째부터 스타일 초기화해서 다음 줄에 배치 */


.mypage-form button{height: 45px; background: #1d3a6d; border: 0px; color: #fff; font-weight: 700; border-radius: 4px; margin-left: 20px; margin-right: 20px;}
.memberdelete {text-align: right; padding:10px; font-size: 0.8rem; color: #7d7d7d; margin-right: 10px;}


/* 마이페이지 탈퇴 */
body > div.mypage > h1 {font-size:17px; margin-bottom:20px;}
body > div.mypage > div > form > div > div > button.deleteBtn {margin-top:20px;}
body > div.mypage > div > form > div > div > button.delete_cancle {background :#fff; color:#263f73; border: 1px solid #263f73;}

/* 마이페이지 내 활동 */

.mypage .mypage-form .mypage-con {
    background: #fff;
    border-radius: 4px; 
    border-left: 5px solid #1d3a6d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 700px;
    height: 800px;
    padding: 70px 60px 60px 60px;
}

.mypage-con h1 {margin-bottom: 100px;}

.mypage_nick {font-size: 1.2rem}
.left-dash {box-shadow: 0 4px 12px #1d3a6d71; width: 380px; margin: 0 auto; padding: 40px; margin-bottom: 20px; border-radius: 6px;}
.mymy{width: 300px; margin: 10px 0;}
.mymy > li {padding: 10px;}

.right-dash {flex: 2;}
.right-dash .activity {display: flex; justify-content:center; padding: 20px;}

.right-dash .activity > li {
    width: 180px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #1d3a6d;
    margin: 10px;
}
.activity-title {padding: 10px; border-bottom: 2px solid #1d3a6d; font-weight: bold;}
.activity-con {text-align: center; font-size: 40px; color: #1d3a6d; padding:5px;}

/*페이징 */
.paging ul {text-align: center; margin: 20px;}
.paging ul li {display: inline-block; margin: 5px 0px;}
.paging ul li a{display: block; padding: 5px 10px; border: 1.5px solid #102770; background-color: #fff; color: rgb(32, 22, 11);}
.paging ul li.on a{background-color: #102770; color: #fff; border: 1.5px solid #102770;} 

/* 서브메뉴 스타일 */
.snb-wrap {text-align: center; margin-top: 60px;}
.snb-wrap div {max-width: 1200px; margin: 0 auto; background: #fff;}
.snb-wrap ul {display: table; width: 100%;}
.snb-wrap li {display: table-cell; width: 33.33%;}
.snb-wrap li:hover span:before {width: 100%; left: 0;}
.snb-wrap li:hover span:after {opacity: 1;}

.snb-wrap li.on span:before {width: 100%; left: 0;}
.snb-wrap li.on span:after {opacity: 1;}
.snb-wrap li.on a {font-weight: bold;}

.snb-wrap li > a {display: block; padding: 20px; font-size: 16px;}
.snb-wrap li > a span {display: block; position: relative;}
.snb-wrap li > a span:before {content: ""; position: absolute; width: 0; height: 3px; background: #000; left: 0; bottom: -10px; transition: all 0.3s;}
.snb-wrap li > a span:after {content: ""; opacity: 0; width: 0; height: 0; border-top: 0 solid transparent; border-bottom: 5px solid #000; border-left: 5px solid transparent; border-right: 5px solid transparent; left: 50%; transform: translateX(-50%); position: absolute; bottom: -8px;}


/* 공지사항 스타일 */
.notice-wrap {text-align: center; max-width: 1200px; margin: 0 auto; margin-top: 200px;}
.notice-wrap .notice-box {max-width: 1200px;}

.notice-box ul {background: #fff;}
.notice-box ul.th {border-top: 2px solid #000;}
.notice-box ul li {display: table; width: 100%;}

.notice-box ul li div {display: table-cell; border-bottom: 1px solid #ccc; padding: 10px; font-size: 15px;}

.notice-box ul li div.no {width: 10%;}
.notice-box ul li div.title {width: 40%;}
.notice-box ul li div.writer {width: 15%;}
.notice-box ul li div.answer {width: 10%;}
.notice-box ul li div.hot {width: 10%;}
.notice-box ul li div.date {width: 15%;}

.notice-box ul li div.title a {width: 40%; font-weight: bold;}
.notice-box ul li div.title a:hover {font-style: italic;}

/* 검색창 */
.search-box {overflow: hidden;}
.search-box div {float: right; padding: 10px 0px;}
.search-box div input {font-size: 15px; padding: 3px 5px;}
.search-box div button {padding: 5px 10px; background: #102770; color: #fff; font-weight: bold; border: 3px solid #102770; border-radius: 5px;}
.search-box div button:hover {background: #3078b5; border: 3px solid #3078b5; }

/* 페이징 버튼 */
.paging div ul {padding: 10px;}
.paging div ul li {display: inline-block; padding: 2px 2px; background: #fff; border-radius: 2px; font-weight: bold; border: 1px solid #000;}
.paging div ul li.on {background: #ffe9c8; font-size: 13px;}
.paging div ul li:hover {background: #ffe9c8;}
.paging div ul li a {padding: 10px;}

/* 글쓰기 버튼 */
.write-btn-box {padding: 10px; overflow: hidden;}
.write-btn-box a {float: right; padding: 10px; background: #8bcaff; color: #fff; border-radius: 5px; font-weight: bold; margin: 5px;}
.write-btn-box a:hover {background: #3078b5;}

/* 공지사항 글쓰기 스타일 */
.notice-write-wrap {max-width: 1200px; margin: 0 auto; margin-top: 200px;}
.notice-write-wrap .notice-write-box h1 {text-align: center; font-size: 32px; margin-bottom: 60px;}

.notice-write-wrap .notice-write-box .write-form {border: 1px solid #ccc; background: #fff; padding: 0px 20px 20px 20px;}
.notice-write-wrap .notice-write-box .write-form ul {padding: 10px;}
.notice-write-wrap .notice-write-box .write-form ul li {padding: 10px;}
.notice-write-wrap .notice-write-box .write-form ul li > label {display: block; font-weight: 700; margin-top: 10px; margin-bottom: 10px; padding: 3px;}
.notice-write-wrap .notice-write-box .write-form ul li > .title {width: 80%; margin-right: 5px;}
.notice-write-wrap .notice-write-box .write-form ul li > select {width: 19%; font-size: 15px; padding: 5px;}
.notice-write-wrap .notice-write-box .write-form ul li > div > label {font-size: 15px; padding-left: 25px;}
.notice-write-wrap .notice-write-box .write-form ul li > div > input {padding: 5px;}
.notice-write-wrap .notice-write-box .write-form ul li > input {font-size: 15px; padding: 5px; width: 100%;}
.notice-write-wrap .notice-write-box .write-form ul li textarea {font-size: 12px; width: 100%; height: 400px; padding: 5px;}

.write-btn-box {padding: 10px; overflow: hidden;}
.write-btn-box a {float: right; padding: 10px; background: #8bcaff; color: #fff; border-radius: 5px; font-weight: bold; margin: 5px;}
.write-btn-box a:hover {background: #3078b5;}

/* 체크박스 모양을 조절하는 스타일 */
.checkbox input[type=checkbox] {  
    display: none;  
}

.checkbox input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left:20px;  
    font-size: 12px;
	color:#444;
}
.checkbox input[type=checkbox]+ label:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";  
    display: inline-block;  
    width: 16px;  
    height: 16px;
	padding:1px;
    position: absolute;  
    left: 0;  
    top:0px;
    background-color: #fff;  
	border:1px solid #000;
    border-radius: 2px; 
}

.checkbox input[type=checkbox]:checked + label:before { 
    content:"\f00c";  /* 체크모양 */
    font-size: 13px; 
    font-weight:600; 
    color: #222;  
    background:#fff;
	border:1px solid #000;
    text-align: center;  
}

/* 공지사항 뷰 스타일 */
.notice-view-wrap {max-width: 1200px; margin: 0 auto; margin-top: 200px; padding-bottom: 150px;}

.notice-wrap h1 {margin-bottom: 40px;}
.notice-box {height: 630px;}
.view-box {height: 530px;}

.view h1 {text-align: center; margin-bottom: 60px;}

.view .view-hd {text-align: center; overflow: hidden; padding-bottom: 10px;}
.view .view-hd span {float: right; margin: 0 10px;}
.view .view-hd p {float: right; margin-right: 20px;}
.view .view-hd p.title {float: left; font-size: 20px; margin-left: 10px;}

.view .view-content {background: #fff; padding: 20px; border: 1px solid #ccc; min-height: 400px; overflow-y: scroll;}

.view .view-file {background: #fff; margin: 10px 0;}
.view .view-file a {display: block; padding: 5px; border-bottom: 1px dashed #ccc;}
.view .view-file a:last-child {border-bottom: 0;}

.write-btn-box {padding: 0px; padding-top: 10px; overflow: hidden;}
.write-btn-box a {float: right; padding: 10px; background: #102770; color: #fff; border-radius: 5px; font-weight: bold; margin: 5px;}
.write-btn-box a:hover {background: #3078b5;}

.answer-wrap {padding-top: 10px;}
.answer-wrap .answer-box {}
.answer-wrap .answer-box h3 {padding: 5px 0px; color: gray; font-weight: 500; font-size: 0.8rem; margin-bottom: 10px; border-bottom: 1px dashed #ccc;}
.answer-wrap .answer-box .answer {margin-bottom: 10px; border-bottom: 1px solid #ddd;}

.answer-wrap .answer-box .answer .answer-writer {display: inline-block; width: 15%; vertical-align: top;}
.answer-wrap .answer-box .answer .answer-writer span {font-weight: 700;}

.answer-wrap .answer-box .answer .answer-content-box {display: inline-block; width: 80%; vertical-align: middle;}
.answer-wrap .answer-box .answer .answer-content-box .answer-content {font-size: 0.8rem; margin-bottom: 10px;}
.answer-wrap .answer-box .answer .answer-content-box .answer-info {color: #ccc; font-size: 0.8rem; margin-bottom: 10px;}
.answer-wrap .answer-box .answer .answer-content-box .answer-info a {color: #888; margin-right: 5px;}
.answer-info span {margin-right: 15px;}

.answer-write-wrap {padding: 10px 0px;}
.answer-write-wrap .answer-write-box {overflow: hidden;}
.answer-write-wrap .answer-write-box p {font-weight: bold; margin-bottom: 10px;}
.answer-write-wrap .answer-write-box textarea {border: 1.5px solid #000; border-radius: 2px; width: 100%; height: 100px; padding: 10px; font-size: 0.8rem;}
.answer-write-wrap .answer-write-box input {float: right; font-size: 0.8rem; padding-top: 10px; border: 0; background-color: #fff; color: #888; cursor: pointer;}

/* about 페이지 스타일 */
.about-wrap {margin-top: 100px;}
.about-wrap .about-box {}

.about-wrap .about-box .about-hd {text-align: center;}
.about-wrap .about-box .about-hd .about-comment {margin: 100px 0; opacity: 1.0;}
.about-wrap .about-box .about-hd .about-comment p {font-size: 70px; font-weight: 700;}
.about-wrap .about-box .about-hd .about-comment span {font-size: 30px;}
.about-wrap .about-box .about-hd .about-comment .point {font-size: 70px; color: #c0c4d7;}

.about-wrap .about-box .about-intro {text-align: center; padding: 20px; max-width: 1200px; margin: 0 auto;}
.about-wrap .about-box .about-intro h2 {font-size: 50px; padding: 10px; margin-bottom: 20px;}
.about-wrap .about-box .about-intro p {font-size: 30px; margin-bottom: 20px;}

.about-wrap .about-box .about-intro .about-intro-number {}
.about-wrap .about-box .about-intro .about-intro-number ul {padding: 10px;}
.about-wrap .about-box .about-intro .about-intro-number ul li {display: inline-block; width: 30%; padding: 10px;}
.about-wrap .about-box .about-intro .about-intro-number ul li p {padding: 5px; font-size: 30px; border-bottom: 1px solid #ccc;}
.about-wrap .about-box .about-intro .about-intro-number ul li span {padding: 5px; font-size: 18px;}

.about-wrap .about-box .about-body {}
.about-wrap .about-box .about-body .about-maker {}
.about-wrap .about-box .about-body .about-maker h2 {text-align: center; font-size: 40px; margin: 10px;}

.about-wrap .about-box .about-body .about-maker .about-dev {max-width: 62%; margin: 0 auto;}
.about-wrap .about-box .about-body .about-maker .about-dev .about-dev-people {padding: 10px; width: 49%; display: inline-block; margin-bottom: 20px;}
.about-wrap .about-box .about-body .about-maker .about-dev .about-dev-people .about-dev-img {display: inline-block; width: 35%; text-align: center; margin-right: 60px;}
.about-wrap .about-box .about-body .about-maker .about-dev .about-dev-people .about-dev-info {display: inline-block; width: 50%; vertical-align: middle;}
.about-wrap .about-box .about-body .about-maker .about-dev .about-dev-people .about-dev-info span {font-size: 0.9rem;}
.about-wrap .about-box .about-body .about-maker .about-dev .about-dev-people .about-dev-info p {margin-top: 5px; margin-bottom: 20px; font-size: 1.2rem;}
.about-wrap .about-box .about-body .about-maker .about-dev .about-dev-people .about-dev-info h3 {font-size: 30px;  margin: 20px 0px 10px 0px;}

/* 코딩연습 */

.coding-wrap {
	max-width: 70%;
	margin: 0 auto;
	margin-top: 6%;
	overflow: hidden;
}

.coding-frame {height: 1070px;}


.go-btn { margin-bottom: 200px;}