<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.boardMapper">
	<!-- 게시판 글 작성 -->
	<insert id="insert">
	<![CDATA[
		INSERT INTO t_post (
			po_num,
	 		po_boardname,
	 		po_title,
	 		po_contents,
	 		po_file_path,
	 		po_datetime,
	 		po_updatetime,
	 		po_writer,
	 		po_views,
	 		po_noticeYn,
	 		po_deleteYn
		) VALUES (
			#{po_num},
			#{po_boardname},
			#{po_title},
			#{po_contents},
			IFNULL(#{po_file_path}, NULL),
			NOW(),
			NULL,
			#{po_writer},
			0,
			IFNULL(#{po_noticeYn}, 'N'),
			IFNULL(#{po_deleteYn}, 'N')
		)
		]]>
	</insert>
</mapper>